
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Bienvenido Admin</h1>
    @*<h3>
            <li>@Html.ActionLink("Administrar roles", "Index", "Role")</li>
        </h3>*@
}
else
{
    <h2>  Bienvenido <strong>@ViewBag.Name</strong>   </h2>
}

