.Rproj.user
.Rhistory
.RData
.Ruserdata
.vs/
syncfusion_payc/.vs
syncfusion_payc/.vs/syncfusion_payc/v15/Server/sqlite3/storage.ide-shm
syncfusion_payc/.vs/syncfusion_payc/v15/Server/sqlite3/storage.ide-wal
syncfusion_payc/.vs/syncfusion_payc/v15/.suo
syncfusion_payc/importacion_noova/obj/Debug/importacion_noova.csproj.CoreCompileInputs.cache
syncfusion_payc/importacion_noova/obj/Debug/importacion_noova.csprojAssemblyReference.cache
syncfusion_payc/importacion_noova/obj/Debug/importacion_noova.csprojAssemblyReference.cache
syncfusion_payc/importacion_noova/obj/Release/importacion_noova.csproj.CoreCompileInputs.cache
syncfusion_payc/importacion_noova/obj/Release/TempPE/repositorio_noova.cs.dll
syncfusion_payc/importacion_noova/obj/Release/TempPE/repositorio_noova.Designer.cs.dll
syncfusion_payc/syncfusion_payc/obj/Debug/syncfusion_payc.csproj.CoreCompileInputs.cache
syncfusion_payc/syncfusion_payc/obj/Debug/syncfusion_payc.csprojAssemblyReference.cache
syncfusion_payc/syncfusion_payc/obj/Release/syncfusion_payc.csproj.CoreCompileInputs.cache
syncfusion_payc/syncfusion_payc/obj/Release/TempPE/Models.contabilidad.Designer.cs.dll
