.Rproj.user
.Rhistory
.RData
.Ruserdata
.vs/
syncfusion_payc/.vs
syncfusion_payc/.vs/syncfusion_payc/v15/Server/sqlite3/storage.ide-shm
syncfusion_payc/.vs/syncfusion_payc/v15/Server/sqlite3/storage.ide-wal
syncfusion_payc/.vs/syncfusion_payc/v15/.suo