@{
    ViewBag.Title = "Errores";
}

<h2>Esto es vergonzoso, ha ocurrido un error, por favor vuelva a internarlo. Si el problema persiste contacte al equipo de analítica.</h2>

<div class="row">
    <center><img src="~/images/oops.jpg" class="error" /></center>
</div>