@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Esto es vergonzoso pero ha ocurrido un error, por favor, vuelva a intentarlo. Si el problema persiste, comuníquese con el administrador de esta aplicación.</h2>

