@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<h2>Esto es vergonzoso, ha ocurrido un error, por favor vuelva a internarlo, si el problema persiste, contacte al equipo de analítica.</h2>

<div class="row">
    <img src="~/images/oops.jpg" class="error" />
</div>