
@model IEnumerable<syncfusion_payc.Models.ACUERDOS_PAGO_ENTREGAB>

@{
    ViewBag.Title = "";



}
@if (User.Identity.IsAuthenticated)
{
    <h2></h2>


    <div class="control-section">

        @(Html.EJ().Grid<syncfusion_payc.Models.ACUERDOS_PAGO_ENTREGAB>("Grid")
                .Datasource(ds => ds.URL("GetOrderData").InsertURL("PerformInsert").UpdateURL("PerformUpdate").RemoveURL("PerformDelete").Adaptor(AdaptorType.UrlAdaptor))
                .AllowPaging()
                .AllowFiltering()
                .Locale("es-CO")
                .AllowResizeToFit(true)
                .AllowMultiSorting()
                .AllowSorting()
                .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
                .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.Dialog); })
                .ClientSideEvents(e => e.ActionBegin("inicio_grid"))
                .ToolbarSettings(toolbar =>
                {
                    toolbar.ShowToolbar().ToolbarItems(items =>
                    {
                        items.AddTool(ToolBarItems.Add);
                        items.AddTool(ToolBarItems.Edit);
                        items.AddTool(ToolBarItems.Delete);
                        items.AddTool(ToolBarItems.Update);
                        items.AddTool(ToolBarItems.Cancel);
                    });

                }).Columns(col =>
                {
                    col.Field("COD_CARTERA").Visible(false).ForeignKeyField("COD_CARTERA").Type("string").ForeignKeyValue("DESCRIPCION").DataSource((IEnumerable<object>)new syncfusion_payc.Models.test_payc_contabilidadEntities().CARTERA.ToList()).HeaderText("COD_CARTERA").EditType(EditingType.DropdownEdit).Add();
                    col.Field("COD_ACUERDO_PAGO").HeaderText("ID").IsPrimaryKey(true).AllowEditing(false).Format("{0:n0}").EditType(EditingType.NumericEdit).ValidationRules(v => v.AddRule("number", true)).Add();
                    col.Field("COD_ESTADO_ACUERDO").ForeignKeyField("ESTADO").Type("string").ForeignKeyValue("DESCRIPCION").DataSource((IEnumerable<object>)new syncfusion_payc.Models.test_payc_contabilidadEntities().ESTADOS_ACUER_PAG_ENTREG.ToList()).HeaderText("COD_ESTADO_ACUERDO").EditType(EditingType.DropdownEdit).Add();
                    col.Field("COD_TIPO_ACUERDO").ForeignKeyField("TIPO ACUERDO").Type("string").ForeignKeyValue("DESCRIPCION").DataSource((IEnumerable<object>)new syncfusion_payc.Models.test_payc_contabilidadEntities().TIPOS_ACUERDO.ToList()).HeaderText("COD_TIPO_ACUERDO").EditType(EditingType.DropdownEdit).Add();

                    col.Field("UserName").Visible(false).HeaderText("UserName").Add();
                    col.Field("DESCRIPCION").HeaderText("DESCRIPCION ACUERDO").Add();
                    col.Field("FECHA_REGISTRO").HeaderText("FECHA_REGISTRO").AllowEditing(false).Format("{0:dd/MM/yyyy}").EditType(EditingType.DateTimePicker).Add();
                    col.Field("FECHA_ACUERDO").HeaderText("FECHA_ACUERDO").Format("{0:dd/MM/yyyy}").EditType(EditingType.DateTimePicker).Add();
                    col.Field("APROBADO").Visible(false).HeaderText("APROBADO").Add();
                    col.Field("COMENTARIOS").HeaderText("COMENTARIOS").Add();
                    col.Field("VALOR").HeaderText("VALOR").Format("{0:n2}").EditType(EditingType.NumericEdit).Add();

                }))
    </div>
}
    <script>

    $(document).ready(function () {
        ej.Grid.Locale["es-CO"] = {
            EmptyRecord: "No hay registros que mostrar",
            GroupDropArea: "Arrastre un encabezado de columna aquí para agrupar su columna",
            DeleteOperationAlert: "No hay registros seleccionados para la operación de eliminación",
            EditOperationAlert: "No hay registros seleccionados para la operación de edición",
            SaveButton: "Guardar",
            OKButton: "DE ACUERDO",
            CancelButton: "Cancelar",
            EditFormTitle: "Detalles de ",
            AddFormTitle: "Añadir nuevo registro",
            GroupCaptionFormat: "{{:headerText}}: {{:key}} - {{:count}} {{if count == 1 }} ítem {{else}} artículos {{/if}} ",


        };
        ej.Pager.Locale["es-CO"] = {
            pagerInfo: "{0} de {1} páginas ({2} artículos)",
            firstPageTooltip: "Ir a la primera página",
            lastPageTooltip: "Ir a la última página",
            nextPageTooltip: "Ir a la página siguiente",
            previousPageTooltip: "Ir a la página anterior",
            nextPagerTooltip: "Ir al siguiente Pager",
            previousPagerTooltip: "Ir a Pager anterior"
        };

        ej.ExcelFilter.Locale["es-CO"] = {
            SortNoSmaller: "Ordenar de menor a mayor",
            SortNoLarger: "Ordenar de mayor a menor",
            SortTextAscending: "Ordenar de A a Z",
            SortTextDescending: "Ordenar de Z a A",
            SortDateOldest: "Ordenar por Más antiguos",
            SortDateNewest: "Ordenar por Más reciente",
            SortByColor: "Ordenar por color",
            SortByCellColor: "Ordenar por color de la célula",
            SortByFontColor: "Ordenar por Color de fuente",
            FilterByColor: "Filtrar por color",
            CustomSort: "Orden personalizado",
            FilterByCellColor: "Filtrar por color de la célula",
            FilterByFontColor: "Filtrar por color de fuente",
            ClearFilter: "Borrar filtro",
            NumberFilter: "Número Filtros",
            GuidFilter: "Gud Filtros",
            TextFilter: "Filtros de texto",
            DateFilter: "Filtros de fecha",
            DateTimeFilter: "Fecha filtros de tiempo",
            SelectAll: "Seleccionar todo",
            Blanks: "Los espacios en blanco",
            Search: "Buscar",
            Showrowswhere: "Mostrar filas",
            NumericTextboxWaterMark: "introducir el valor",
            StringMenuOptions: [{ text: "Igual", value: "equal" }, { text: "No es equal", value: "notequal" }, { text: "Comienza con", value: "startswith" }, { text: "Termina con", value: "endswith" }, { text: "contiene", value: "contains" }, { text: "Filtro personalizado", value: "customfilter" },],
            NumberMenuOptions: [{ text: "Igual", value: "equal" }, { text: "No es equal", value: "notequal" }, { text: "Menos que", value: "lessthan" }, { text: "Menor o equal", value: "lessthanorequal" }, { text: "Mas grande que", value: "greaterthan" }, { text: "Mayor que o equal", value: "greaterthanorequal" }, { text: "Entre", value: "between" }, { text: "Filtro personalizado", value: "customfilter" },],
            GuidMenuOptions: [{ text: "Igual", value: "equal" }, { text: "No es equal", value: "notequal" }, { text: "Filtro personalizado", value: "customfilter" },],
            DateMenuOptions: [{ text: "Igual", value: "equal" }, { text: "No es equal", value: "notequal" }, { text: "Menos que", value: "lessthan" }, { text: "Menor o equal", value: "lessthanorequal" }, { text: "Mas grande que", value: "greaterthan" }, { text: "Mayor que o equal", value: "greaterthanorequal" }, { text: "Entre", value: "between" }, { text: "Filtro personalizado", value: "customfilter" },],
            DatetimeMenuOptions: [{ text: "Igual", value: "equal" }, { text: "No es equal", value: "notequal" }, { text: "Menos que", value: "lessthan" }, { text: "Menor o equal", value: "lessthanorequal" }, { text: "Mas grande que", value: "greaterthan" }, { text: "Mayor que o equal", value: "greaterthanorequal" }, { text: "Entre", value: "between" }, { text: "Filtro personalizado", value: "customfilter" },],
            Top10MenuOptions: [{ text: "Parte superior", value: "top" }, { text: "Fondo", value: "bottom" },],
            title: "Filtro personalizado",
            PredicateAnd: "Y",
            PredicateOr: "O",
            Ok: "Aceptar",
            MatchCase: "Coincidencia",
            Cancel: "Cancelar",
            NoResult: "No se encontraron coincidencias",
            CheckBoxStatusMsg: "No todos los elementos que muestran",
            DatePickerWaterMark: "Seleccione fecha",
            DateTimePickerWaterMark: "Seleccionar fecha y hora",
            True: "cierto",
            False: "falso"
        };
    });
	//Funcion para añadir buscador a los dropdown
	function inicio_grid(args) {
        if (args.requestType == "beginedit" || args.requestType == "add") {
            if (args.model.dataSource.dataSource.url == "GetOrderData") {
                setTimeout(function () {
                   					var drop = $("#GRIDCOD_CARTERA").ejDropDownList('instance');
                    drop.option("enableFilterSearch", true);
								drop = $("#GRIDCOD_ESTADO_ACUERDO").ejDropDownList('instance');
                    drop.option("enableFilterSearch", true);
								drop = $("#GRIDCOD_TIPO_ACUERDO").ejDropDownList('instance');
                    drop.option("enableFilterSearch", true);

                }, 50);
            }
        }
    }
    </script>
